<ion-card>
  <ion-card-content>
    <ion-img src="{{ imgHasil }}" style="width: 200px; height: 200px">
    </ion-img>
    <ion-button
      [color]="btnColor1"
      (click)="ApplyGambar('1')"
      style="width: 33.33%"
    >
      1
    </ion-button>
    <ion-button
      [color]="btnColor2"
      (click)="ApplyGambar('2')"
      style="width: 30.33%"
    >
      2
    </ion-button>
    <ion-button
      [color]="btnColor3"
      (click)="ApplyGambar('3')"
      style="width: 33.33%"
    >
      3
    </ion-button>
  </ion-card-content>
</ion-card>
